################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Voyager
/Voyager/bin/Debug
/Voyager/obj/Debug
/Voyager/bin/Debug/netcoreapp2.0
/Voyager/obj/Debug/netcoreapp2.0

/Voyager.App/bin/Debug
/Voyager.App/obj/Debug
/Voyager.App/bin/Debug/netcoreapp2.0
/Voyager.App/obj/Debug/netcoreapp2.0
/.vs
/Voyager/bin
/Voyager/obj
/Voyager.App/bin
/Voyager.App/obj
/Voyager/Voyager.csproj.user
/Voyager/ErrorLog/ErrorLog_07062018.txt
/Voyager/ErrorLog/ErrorLog_08062018.txt
/Voyager/ErrorLog/ErrorLog_18062018.txt
/Voyager/ErrorLog/ErrorLog_19062018.txt
/Voyager/ErrorLog/ErrorLog_04072018.txt
/Voyager/ErrorLog/ErrorLog_05072018.txt
/Voyager/ErrorLog/ErrorLog_10072018.txt
/Voyager/wwwroot/documents
/Voyager/ErrorLog
