
<h3>Hotel Confirmation</h3>

<button title="Close (Esc)" type="button" class="mfp-close"></button>
<div class="btn-cont">
    @*<button title="Save" type="button" class="btn btn-blue btn-md" onclick="changeCurrentVersion();">View</button>*@
    <button title="Close (Esc)" type="button" class="btn btn-blue-outline btn-md close-popup">Close</button>
</div>