<div class="btn-cont pull-right">
    <ul>
        <li><input type="submit" value="Save" class="btn btn-blue btn-md"></li>
    </ul>
</div>
<h3>••• Others - Gifts</h3>
<div class="clearfix"></div>
<div class="custom-mob-tbl table-responsive valign-top-tbl top-gap-md">
    <table class="table text-center">
        <thead>
            <tr>
                <th rowspan="2"><span>Day</span></th>
                <th rowspan="2" class="col-sm"><span>Gift</span></th>
                <th colspan="3"><span>No. of Pax</span></th>
                <th rowspan="2"><span>Family</span></th>
                <th rowspan="2" class="col-sm"><span>Cost Category</span></th>
                <th rowspan="2" class="col-sm"><span>Keep As</span></th>
                <th rowspan="2" class="col-xs"><span>Add</span></th>
                <th rowspan="2" class="col-xs">&nbsp;</th>
            </tr>
            <tr>
                <th>Adult</th>
                <th>Child</th>
                <th>Infant</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Day 1</td>
                <td>
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Travel Bag</option>
                        <option>Travel Cap</option>
                        <option>Insurance </option>
                        <option>Phone Card</option>
                    </select>
                </td>
                <td>
                    <div class="cust-spinner value">
                        <div class="input-group spinner">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-down" type="button"><i class="fa-custom-minus white"></i></button>
                            </div>
                            <input type="text" class="form-control" value="1">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-up" type="button"><i class="fa-custom-plus white"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cust-spinner value">
                        <div class="input-group spinner">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-down" type="button"><i class="fa-custom-minus white"></i></button>
                            </div>
                            <input type="text" class="form-control" value="0">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-up" type="button"><i class="fa-custom-plus white"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cust-spinner value">
                        <div class="input-group spinner">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-down" type="button"><i class="fa-custom-minus white"></i></button>
                            </div>
                            <input type="text" class="form-control" value="0">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-up" type="button"><i class="fa-custom-plus white"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="cust-spinner value">
                        <div class="input-group spinner">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-down" type="button"><i class="fa-custom-minus white"></i></button>
                            </div>
                            <input type="text" class="form-control" value="0">
                            <div class="input-group-btn">
                                <button class="btn btn-default count-up" type="button"><i class="fa-custom-plus white"></i></button>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <select class="form-control">
                        <option selected>Select</option>
                        <option>Included</option>
                        <option>Optional</option>
                        <option>Supplement </option>
                    </select>
                </td>
                <td>
                    <select class="form-control">
                        <option selected>included</option>
                    </select>
                </td>
                <td class="text-center">
                    <div class="price-foc-sec">
                        <div class="tool-tip info Prices">
                            <span class="msg txt-green" style="display:none;">Prices Added</span>
                            <a href="#" class="txt-lnk darkblue btn-add">Prices</a>
                            <div class="tooltip-cont type03">

                            </div>
                        </div>
                        <hr>
                        <div class="tool-tip info FOC">
                            <span class="msg txt-green" style="display:none;">FOC Added</span>
                            <a href="#" class="txt-lnk darkblue btn-add">FOC</a>
                            <div class="tooltip-cont type04">

                            </div>
                        </div>
                        <hr>
                    </div>
                    <span class="frm-sub-label txt-orange">For TL</span>
                    <textarea></textarea>
                    <span class="frm-sub-label txt-orange">For OPS</span>
                    <textarea></textarea>
                </td>
                <td><div class="icon-squre-cont"> <a href="#" class="icon-squre-green"><i class="fa fa-plus"></i></a> <a href="#" class="icon-squre-red"><i class="fa fa-times"></i></a> </div></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="btn-cont top-gap-md">
    <input type="submit" value="Save" class="btn btn-blue btn-md">
</div>