@model ErrorViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="wrapper">
        <!-- Main Content :: Starts -->
        <div class="main-content form-theme-04">
            <div class="container">
                <div class="pg-container">
                    <br />
                    <br />
                    <H1 style="color:red">@Model.ErrorCode : @Model.ErrorMsg</H1>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
