<div class="btn-cont-rgt" style="text-align:right">
    <a href="#" class="btn btn-blue btn-md">Save &amp; Continue</a>
</div>
<div class="wrapper">
   <div class="main-content form-theme-04 form">
         <div class="pg-container">
            <div class="sqr-tab-cont">
               <div class="sqr-tab-data flights">
                  <form>                   
                     <!-- Radio List Bar : Ends -->
                     <div class="process-data-sec">
                        <!-- Result : Start -->
                        <div class="result-sec type-01">
                           <h3><i class="fa-custom-flights-icon"></i> Flights</h3>
                           <div class="head">
                              <div>
                                 <!-- class="list" -->
                                 <div class="details-sec">
                                    <!-- Left Section : Start -->
                                    <div class="lft-sec">
                                       <div class="travel-details">
                                          <ul>
                                             <li class="route"><a href="#">Ex HUB</a></li>
                                             <li class="vendor"><a href="#">Airline</a></li>
                                             <li class="depart"><a href="#">Departure</a></li>
                                             <li class="duration"><a href="#">Duration</a></li>
                                             <li class="arrive"><a href="#">Arrive</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Left Section : End -->
                                    <!-- Right Section : Start -->
                                    <div class="rgh-sec">
                                       <div class="left-side seat-class">
                                          <ul>
                                             <li class="economy"><a href="#">Economy</a></li>
                                             <li class="first"><a href="#">First</a></li>
                                             <li class="business"><a href="#">Business</a></li>
                                          </ul>
                                       </div>
                                       <div class="right-side">
                                          <ul>
                                             <li class="total-pax">
                                                <a href="#">Total Price</a>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Right Section : End -->
                                 </div>
                              </div>
                           </div>
                           <div class="listing">
                              <div class="list">
                                 <div class="details-sec">
                                    <!-- Left Section : Start -->
                                    <div class="lft-sec">
                                       <div class="travel-details">
                                          <ul>
                                             <li class="route">
                                                <span>Mumbai</span>
                                             </li>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/flight/logo/indigo.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">IndiGo</span>
                                                   <span class="sub-txt">G8-375</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">05:25</span>
                                                <span class="sub-txt">BOM</span>
                                             </li>
                                             <li class="duration">
                                                <span class="time">4h 15m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">09:40</span>
                                                <span class="sub-txt">BKK</span>
                                             </li>
                                          </ul>
                                          <ul>
                                             <li class="route"></li>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/flight/logo/indigo.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">IndiGo</span>
                                                   <span class="sub-txt">G8-376</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">05:25</span>
                                                <span class="sub-txt">BKK</span>
                                             </li>
                                             <li class="duration">
                                                <span class="time">4h 15m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">09:40</span>
                                                <span class="sub-txt">BOM</span>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="bttm-sec">
                                          <ul class="lst-st">
                                             <li>Economy</li>
                                             <li>Non-refundable</li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Left Section : End -->                                                    
                                    <!-- Right Section : Start -->
                                    <div class="rgh-sec price-sec">
                                       <div class="left-side seat-class">
                                          <ul>
                                             <li class="economy">
                                                <div>15 Pax</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Confirmed</div>
                                             </li>
                                             <li class="first">
                                                <div>10 Pax</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Confirmed</div>
                                             </li>
                                             <li class="business">
                                                <div>5 Pax</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Confirmed</div>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="right-side">
                                          <div class="price-info">
                                             <div class="offer-price">
                                                <span class="price"><i class="fa-rupee"></i> 1,15,000</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- Right Section : End -->
                                 </div>
                              </div>
                              <div class="list">
                                 <div class="details-sec">
                                    <!-- Left Section : Start -->
                                    <div class="lft-sec">
                                       <div class="travel-details">
                                          <ul>
                                             <li class="route">
                                                <span>Mumbai</span>
                                             </li>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/flight/logo/jet-airway.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">Jet Airways</span>
                                                   <span class="sub-txt">G8-375</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">05:25</span>
                                                <span class="sub-txt">BOM</span>
                                             </li>
                                             <li class="duration">
                                                <span class="time">4h 15m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">09:40</span>
                                                <span class="sub-txt">BKK</span>
                                             </li>
                                          </ul>
                                          <ul>
                                             <li class="route"></li>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/flight/logo/jet-airway.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">Jet Airways</span>
                                                   <span class="sub-txt">G8-376</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">05:25</span>
                                                <span class="sub-txt">BKK</span>
                                             </li>
                                             <li class="duration">
                                                <span class="time">4h 15m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">09:40</span>
                                                <span class="sub-txt">BOM</span>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="bttm-sec">
                                          <ul class="lst-st">
                                             <li>Economy</li>
                                             <li>Non-refundable</li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Left Section : End -->                                                    
                                    <!-- Right Section : Start -->
                                    <div class="rgh-sec price-sec">
                                       <div class="left-side seat-class">
                                          <ul>
                                             <li class="economy">
                                                <div>15 Pax</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Confirmed</div>
                                             </li>
                                             <li class="first">
                                                <div>10 Pax</div>
                                                <div class="status txt-orange"><i class="fa-clock-o"></i> Waitlisted</div>
                                             </li>
                                             <li class="business">
                                                <div>5 Pax</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Confirmed</div>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="right-side">
                                          <div class="price-info">
                                             <div class="offer-price">
                                                <span class="price"><i class="fa-rupee"></i> 1,20,000</span>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                    <!-- Right Section : End -->
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Result : End -->
                        <!-- Rail Result : Start -->
                        <div class="result-sec type-01">
                           <h3><i class="fa-custom-rail-icon"></i> Rail</h3>
                           <div class="head">
                              <div>
                                 <!-- class="list" -->
                                 <!-- Details Section : Start -->
                                 <div class="details-sec">
                                    <!-- Left Section : Start -->
                                    <div class="lft-sec">
                                       <div class="travel-details">
                                          <ul>
                                             <li class="route"><a href="#">Ex HUB</a></li>
                                             <li class="vendor"><a href="#">Train</a></li>
                                             <li class="depart"><a href="#">Departure</a></li>
                                             <li class="duration"><a href="#">Duration</a></li>
                                             <li class="arrive"><a href="#">Arrival</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Left Section : End -->
                                    <!-- Right Section : Start -->
                                    <div class="rgh-sec">
                                       <div class="left-side seat-class">
                                          <ul>
                                             <li class="Second"><a href="#">Second</a></li>
                                             <li class="First"><a href="#">First</a></li>
                                             <li class="business"><a href="#">Business</a></li>
                                          </ul>
                                       </div>
                                       <div class="right-side">
                                          <ul>
                                             <li class="total-price"><a href="#">Total Price</a></li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Right Section : End -->
                                 </div>
                                 <!-- Details Section : End -->
                              </div>
                           </div>
                           <div class="listing">
                              <div class="list">
                                 <div class="details-sec">
                                    <!-- Left Section : Start -->
                                    <div class="lft-sec btm-pd0">
                                       <div class="travel-details">
                                          <ul>
                                             <li class="route">
                                                <span>London</span>
                                             </li>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/rail/logo/eurostar.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">Eurostar </span>
                                                   <span class="sub-txt">9008</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">07:55</span>
                                                <span class="sub-txt">St-Pancras</span>
                                             </li>
                                             <li class="duration">
                                                <span class="time">2h 22m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">11:17</span>
                                                <span class="sub-txt">Paris Nord</span>
                                             </li>
                                          </ul>
                                          <ul>
                                             <li class="route"></li>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/rail/logo/eurostar.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">Eurostar </span>
                                                   <span class="sub-txt">9008</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">05:25</span>
                                                <span class="sub-txt">Paris Nord</span>
                                             </li>
                                             <li class="duration">
                                                <span class="time">2h 22m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">07:45</span>
                                                <span class="sub-txt">St-Pancras</span>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                    <!-- Left Section : End -->                                                    
                                    <!-- Right Section : Start -->
                                    <div class="rgh-sec price-sec">
                                       <div class="left-side seat-class">
                                          <ul>
                                             <li class="second">
                                                <div class="alert-text">15 Pax</div>
                                                <div class="price"><i class="fa-rupee"></i> 8,547</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Available</div>
                                                <span class="sub-txt">(Contract)</span>
                                             </li>
                                             <li class="first">
                                                <div class="alert-text">10 Pax</div>
                                                <div class="price"><i class="fa-rupee"></i> 14,329</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Available</div>
                                             </li>
                                             <li class="business">
                                                <div class="alert-text">5 Pax</div>
                                                <div class="price"><i class="fa-rupee"></i> 23,588</div>
                                                <div class="status txt-green"><i class="fa-check"></i> Available</div>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="right-side">
                                          <div class="price-info">
                                             <div class="offer-price">
                                                <span class="price"><i class="fa-rupee"></i> 4,53,750</span>
                                             </div>
                                          </div>
                                          
                                       </div>
                                    </div>
                                    <!-- Right Section : End -->
                                 </div>
                                 <div class="detail-container">
                                    <div class="journey-details">
                                       <div class="ttl">
                                          <h4>London <i class="fa-arrow-right"></i> Paris <small>05 Apr 2017</small></h4>
                                       </div>
                                       <div class="travel-details">
                                          <ul>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/rail/logo/eurostar.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">Eurostar </span>
                                                   <span class="sub-txt">9008</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">London 07:25</span>
                                                <span class="sub-txt">05 Apr 2017</span>
                                                <span class="sub-txt">St Pancras International</span>
                                                <span class="sub-txt">London</span>
                                             </li>
                                             <li class="duration">
                                                <i class="fa-arrow-right"></i>
                                                <span class="time">2h 22m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">Paris 11:17</span>
                                                <span class="sub-txt">05 Apr 2017</span>
                                                <span class="sub-txt">Gare du Nord International</span>
                                                <span class="sub-txt">Paris</span>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="row row row-zero service-included-info">
                                          <div class="col-md-6">
                                             <ul class="lst-st">
                                                <li>Second</li>
                                                <li>Non-refundable</li>
                                                <li><a href="#rail-details-booking-policy" class="popup-inline">Booking Policy</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="journey-details">
                                       <div class="ttl">
                                          <h4>Paris <i class="fa-arrow-right"></i> London <small>07 Apr 2017</small></h4>
                                       </div>
                                       <div class="travel-details">
                                          <ul>
                                             <li class="vendor">
                                                <figure class="logo">
                                                   <img src="../resources/images/rail/logo/eurostar.png" alt="" />
                                                </figure>
                                                <div class="details">
                                                   <span class="name">Eurostar </span>
                                                   <span class="sub-txt">9010</span>
                                                </div>
                                             </li>
                                             <li class="depart">
                                                <span class="time">Paris 11:25</span>
                                                <span class="sub-txt">07 Apr 2017</span>
                                                <span class="sub-txt">Gare du Nord International</span>
                                                <span class="sub-txt">Paris</span>
                                             </li>
                                             <li class="duration">
                                                <i class="fa-arrow-right"></i>
                                                <span class="time">2h 22m</span>
                                                <span class="sub-txt">Non stop</span>
                                             </li>
                                             <li class="arrive">
                                                <span class="time">London 07:45</span>
                                                <span class="sub-txt">07 Apr 2017</span>
                                                <span class="sub-txt">St Pancras International</span>
                                                <span class="sub-txt">London</span>
                                             </li>
                                          </ul>
                                       </div>
                                       <div class="row row row-zero service-included-info">
                                          <div class="col-md-6">
                                             <ul class="lst-st">
                                                <li>Second</li>
                                                <li>Non-refundable</li>
                                                <li><a href="#rail-details-booking-policy" class="popup-inline">Booking Policy</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Rail Result : End -->
                        <div class="tab-domestic-sec flight-info radio-list-data" style="display:block">
                           <div class="row">
                              <div class="col-md-9 col-sm-12">
                                 <h3><i class="fa-custom-cruise-black"></i> Cruise </h3>
                                 <div class="sub-headings">
                                    <h4 class="txt-orange inline-block">SuperStar Virgo - 2 Nights Kurla Lumpur Cruise <small><i>(Wednesday Departure)</i></small></h4>
                                    <a href="#" class="link pull-right calender-icn"><i class="fa-calendar"></i> View Calendar</a>
                                    <div class="custom-calender form-des-details" style="display:none">
                                       <div class="custom-multi-calendar">
                                          <button title="Close (Esc)" type="button" class="mfp-close btn-close"></button>
                                          <div class="dateFilter hasDatepicker" style="display: block;">
                                             <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;">
                                                <div class="ui-datepicker-group ui-datepicker-group-first">
                                                   <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-left">
                                                      <a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a>
                                                      <div class="ui-datepicker-title"><span class="ui-datepicker-month">APRIL</span>&nbsp;<span class="ui-datepicker-year">2017</span></div>
                                                      <a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
                                                   </div>
                                                   <div class="tbl-wrapper">
                                                      <table class="ui-datepicker-calendar">
                                                         <thead>
                                                            <tr>
                                                               <th scope="col" class="ui-datepicker-week-end"><span title="Sunday">Su</span>
                                                               </th>
                                                               <th scope="col"><span title="Monday">Mo</span>
                                                               </th>
                                                               <th scope="col"><span title="Tuesday">Tu</span>
                                                               </th>
                                                               <th scope="col"><span title="Wednesday">We</span>
                                                               </th>
                                                               <th scope="col"><span title="Thursday">Th</span>
                                                               </th>
                                                               <th scope="col"><span title="Friday">Fr</span>
                                                               </th>
                                                               <th scope="col" class="ui-datepicker-week-end"><span title="Saturday">Sa</span>
                                                               </th>
                                                            </tr>
                                                         </thead>
                                                         <tbody>
                                                            <tr>
                                                               <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                               <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                               <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                               <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                                               <td class="ui-datepicker-unselectable ui-state-disabled"><a class="ui-state-default" href="#">1</a></td>
                                                               <td class="ui-datepicker-unselectable ui-state-disabled"><a class="ui-state-default" href="#">2</a></td>
                                                               <td class="ui-datepicker-unselectable ui-state-disabled"><a class="ui-state-default" href="#">3</a></td>
                                                            </tr>
                                                            <tr>
                                                               <td class=""><a class="ui-state-default" href="#">4</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">5</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">6</a></td>
                                                               <td class="selected"><a class="ui-state-default" href="#">7</a></td>
                                                               <td class=""><a class="ui-state-default ui-state-highlight ui-state-active" href="#">8</a></td>
                                                               <td class=""><a class="ui-state-default active" href="#">9</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">10</a></td>
                                                            </tr>
                                                            <tr>
                                                               <td class=""><a class="ui-state-default" href="#">11</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">12</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">13</a></td>
                                                               <td class="avail-date"><a class="ui-state-default" href="#">14</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">15</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">16</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">17</a></td>
                                                            </tr>
                                                            <tr>
                                                               <td class=""><a class="ui-state-default" href="#">18</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">19</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">20</a></td>
                                                               <td class="avail-date"><a class="ui-state-default" href="#">21</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">22</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">23</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">24</a></td>
                                                            </tr>
                                                            <tr>
                                                               <td class=""><a class="ui-state-default" href="#">25</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">26</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">27</a></td>
                                                               <td class="avail-date"><a class="ui-state-default" href="#">28</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">29</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">30</a></td>
                                                               <td class=""><a class="ui-state-default" href="#">31</a></td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </div>
                                                </div>
                                                <div class="ui-datepicker-legend">
                                                   <ul>
                                                      <li class="ui-holidays available-date">Available Dates</li>
                                                      <li class="ui-selected-date">Selected</li>
                                                   </ul>
                                                </div>
                                                <p class="price-disclaimer">Price will be displayed according to the departure date selected.</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <ul class="pkg-listing list-view">
                                    <li>
                                       <div class="pkg-thumbnail">
                                          <div class="lht-sec">
                                             <div class="thumb-wrap">
                                                <div class="img-sec img-fit">
                                                   <figure>
                                                      <img src="/in/en/b2e-b2b/resources/images/co-itinerary/cruise-img-1.jpg" alt="">
                                                   </figure>
                                                </div>
                                                <div class="img-descr">
                                                   <h3 class="pkg-tl inline-block">SuperStar Virgo </h3>
                                                   <span class="tour-type">
                                                   <img src="../resources/images/co-itinerary/cruise-logo-img1.jpg"  alt="costa-icon-mid">
                                                   <span>Mega</span>
                                                   </span>
                                                   <ul class="border-list">
                                                      <li><i class="fa-custom-three-star-blue"></i></li>
                                                   </ul>
                                                   <ul>
                                                      <li><label class="txt-lightblue">Sailling Dates :</label> <span> 04 Apr 17</span></li>
                                                      <li><label class="txt-lightblue">Port of Call :</label> <span> Kuala Lumpur - Port Clang, Malacca, Singapore</span></li>
                                                   </ul>
                                                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type <a href="#" class="info-more"> more info <i class="fa-chevron-circle-right"></i></a></p>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="rht-sec price-sec large">
                                             <div class="addnl-info amt-info">
                                                <label>Total Price</label>
                                                <span class="price"><i class="fa-rupee"></i> 4,49,250</span>
                                                <em>Currently Selected</em>
                                                <a href="#" class="btn btn-secondary btn-bordered btn-md">Pref. Supplier: CKDMS</a>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="table-responsive pkg-lists-table">
                                          <table>
                                             <thead>
                                                <tr>
                                                   <th>Room Type</th>
                                                   <th>Dates</th>
                                                   <th>Total</th>
                                                   <th></th>
                                                </tr>
                                             </thead>
                                             <tbody>
                                                <tr >
                                                   <td class="col-room-type">
                                                      <h5>DB - Inside State Room</h5>
                                                      <h5>Deck 6</h5>
                                                      <p>Breakfast included, taxes <a href="#" class="link">more</a></p>
                                                      <span class="num-units"><label>No. of rooms: </label> 20</span>
                                                   </td>
                                                   <td class="col-dates">
                                                      <ul>
                                                         <li>
                                                            <div>
                                                               <div class="td-pkg-date">04 Apr, Wed</div>
                                                               <div class="td-pkg-status txt-green"><i class="fa-check"></i> Available</div>
                                                               <div class="td-pkg-price"><i class="fa-rupee"></i> 29,950</div>
                                                            </div>
                                                         </li>
                                                         <li>
                                                            <div>
                                                               <div class="td-pkg-date">05 Apr, Thu</div>
                                                               <div class="td-pkg-status txt-green"><i class="fa-check"></i> Available</div>
                                                               <div class="td-pkg-price"><i class="fa-rupee"></i> 29,950</div>
                                                            </div>
                                                         </li>
                                                      </ul>
                                                   </td>
                                                   <td class="col-price">
                                                      <span><i class="fa-rupee"></i> 4,49,250</span>
                                                      <i class="txt-grey">Inclusive of Taxes</i>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="tab-domestic-sec flight-info radio-list-data inter-city" style="display:block">
                           <h3><i class="fa-custom-van-black"></i> Inter-city Transfers</h3>
                           <div class="row">
                              <div class="col-md-7 col-sm-12">
                                 <span class="info-ttl">Day 01  Arrival Transfer from Airport to Hotel by Coach </span>
                                 <div class="meals-sect-info">
                                    <div class="pkg-thumbnail">
                                       <div class="lht-sec">
                                          <div class="thumb-wrap">
                                             <div class="img-sec img-fit">
                                                <figure>
                                                   <img src="/in/en/b2e-b2b/resources/images/co-itinerary/bus-img1.jpg" alt="">
                                                </figure>
                                             </div>
                                             <div class="img-descr">
                                                <h3 class="pkg-tl">Volvo <span class="coach-no-txt">No. of Coach : 1</span></h3>
                                                <p>35 Seater Deluxe Coach - Private Transfer </p>
                                                <ul class="transfr-incl tbl-style">
                                                   <li>
                                                      <span>Seating Capacity</span>
                                                      <span class="transfr-incl-icons">
                                                      <i class="fa-custom-traveller grey"></i>
                                                      <i class="fa-custom-traveller grey"></i>
                                                      <i class="fa-custom-traveller grey"></i>
                                                      <i class="plus-icon">+</i>
                                                      <i class="fa-custom-driver grey"></i>
                                                      </span>
                                                      <b>35 Seater incl. driver</b>
                                                   </li>
                                                   <li>
                                                      <span>Bags</span>
                                                      <span class="transfr-incl-icons">
                                                      <i class="fa-custom-baggage grey fa-3x"></i>
                                                      <i class="fa-custom-baggage grey fa-3x"></i>
                                                      <i class="fa-custom-baggage grey fa-2x"></i>
                                                      <i class="fa-custom-baggage grey fa-1x"></i>
                                                      </span>
                                                      <b>35 Big + 35 Small</b>
                                                   </li>
                                                   <li class="place-time">
                                                      <span class="pick-details">
                                                         <div class="icon-sec">  <i class="fa-custom-pick-up"></i> </div>
                                                         <div class="icon-details">
                                                            <p>From Airport<br>03:00 pm</p>
                                                         </div>
                                                      </span>
                                                      <span class="pick-details">
                                                         <div class="icon-sec">  <i class="fa-custom-pick-up"></i> </div>
                                                         <div class="icon-details">
                                                            <p>To Hotel <br>05:00 pm</p>
                                                         </div>
                                                      </span>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="rht-sec price-sec large">
                                          <div class="addnl-info amt-info">
                                             <label>Total Price</label>
                                             <span class="price"><i class="fa-rupee"></i> 18,710</span>
                                             
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="meals-sect-info change-inter-city-trf-sec" style="display:none;">
                                    <div class="pkg-thumbnail">
                                       <div class="lht-sec">
                                          <div class="thumb-wrap">
                                             <div class="img-sec img-fit">
                                                <figure>
                                                   <img src="/in/en/b2e-b2b/resources/images/co-itinerary/bus-img2.jpg" alt="">
                                                </figure>
                                             </div>
                                             <div class="img-descr">
                                                <h3 class="pkg-tl">Volvo <span class="coach-no-txt">No. of Coach : 1</span></h3>
                                                <p>35 Seater Deluxe Coach - Private Transfer </p>
                                                <ul class="transfr-incl">
                                                   <li>
                                                      <span>Seating Capacity</span>
                                                      <span class="transfr-incl-icons">
                                                      <i class="fa-custom-traveller grey"></i>
                                                      <i class="fa-custom-traveller grey"></i>
                                                      <i class="fa-custom-traveller grey"></i>
                                                      <i class="plus-icon">+</i>
                                                      <i class="fa-custom-driver grey"></i>
                                                      </span>
                                                      <b>35 Seater incl. driver</b>
                                                   </li>
                                                   <li>
                                                      <span>Bags</span>
                                                      <span class="transfr-incl-icons">
                                                      <i class="fa-custom-baggage grey fa-3x"></i>
                                                      <i class="fa-custom-baggage grey fa-3x"></i>
                                                      <i class="fa-custom-baggage grey fa-2x"></i>
                                                      <i class="fa-custom-baggage grey fa-1x"></i>
                                                      </span>
                                                      <b>35 Big + 35 Small</b>
                                                   </li>
                                                   <li>
                                                      <span class="pick-details">
                                                         <div class="icon-sec">  <i class="fa-custom-pick-up"></i> </div>
                                                         <div class="icon-details">
                                                            <p>From Airport<br>03:00 pm</p>
                                                         </div>
                                                      </span>
                                                      <span class="pick-details">
                                                         <div class="icon-sec">  <i class="fa-custom-pick-up"></i> </div>
                                                         <div class="icon-details">
                                                            <p>To Hotel <br>05:00 pm</p>
                                                         </div>
                                                      </span>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="rht-sec price-sec large">
                                          <div class="addnl-info amt-info">
                                             <label>Total Price</label>
                                             <span class="price"><i class="fa-rupee"></i> 19,520</span>
                                             <label class="chk-cont" ><input type="checkbox" name="rqrd-type"/> Select</label>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </form>
                  <!-- Form : Ends -->
               </div>
               <!-- Tab Data : Ends -->
            </div>
         </div>
      </div>
   </div>
