@model Voyager.App.ViewModels.OutBoundIntegartionCredentailsViewModel

<style media="screen" type="text/css">
    .text-wrap {
        white-space: normal;        
    }

    .width-200 {
        width: 350px;
        word-break: break-all;
    }

    select.form-control-sm:not([size]):not([multiple]) {
         height: calc(1.8125rem + 16px); 
    }
</style>

<div class="listing-table">
    <div class="custom-mob-tbl table-responsive table-departures-dates valign-top-tbl">
        <table class="table table-bordered tbl-theme-02 dataTables" id="tblOutBoundIntegrationPlatform">
            <thead>
                <tr>
                    <th class="col-md-1">Platform</th>
                    <th class="col-md-3">Key</th>
                    <th class="col-md-3">Action</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<script src="~/datatable/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
<script src="~/datatable/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        var model = {
            Application_Id: $("#Application_Id :selected").val(),
            ConfigId: "",
            Key: $("#Key").val(),
            Value: $("#Value").val()
        }

        var oTable = $('#tblOutBoundIntegrationPlatform').dataTable({
            processing: true,
            serverSide: true,
            info: true,
            ajax: {
                url: "/UserAndRoleMgmt/GetOutBoundIntegrationCredentialsList",
                type: "GET",
                data: model,
            },
            columns: [
                { "data": "application_Name", "orderable": true },
                { "data": "key", "orderable": true },
                //{ "data": "value", "orderable": true },
                //{
                //    "data": function (data, type, row, meta) {
                //        var divHTML = "<div class='text-wrap width-200'>" + data.value + " </div>";
                //        return divHTML;
                //    }, "orderable": false
                //},
                {
                    "data": function (data, type, row, meta) {
                        var actionHTML = "<button type='button' class='icon-squre-dark-blue' style='width:27px' title='View' onclick='EditConfig(\"" + data.application_Id + "\", \"" + data.configId + "\", \"" + data.key + "\", \"" + data.value + "\", \"" + data.decryptedValue + "\",  this);' ><i class='fa fa-pencil'></i></button> &nbsp;&nbsp;";
                        actionHTML += "<button type='button' class='icon-squre-red' style='width:27px' title='Delete' onclick='DeleteConfig(\"" + data.application_Id + "\", \"" + data.configId + "\", \"" + data.key + "\", \"" + data.value + "\", \"" + data.decryptedValue + "\",  this);' ><i class='fa fa-times'></i></button>";

                        return actionHTML;
                    },
                    "orderable": false
                }
            ],
            "order": [[0, "asc"]],
            "columnDefs": [{
                "defaultContent": "",
                "targets": "_all"
            }],
            "oLanguage": {
                sLengthMenu: "Show entries _MENU_",
            },
            "dom": "<'row'<'col-sm-3'l><'col-sm-1'f><'col-sm-8'p>>" + "<'row'<'col-sm-12'tr>>" + "<'row'<'col-sm-5 margin-top-bottom-20'i><'col-sm-7'p>>",
        });

        $('#tblOutBoundIntegrationPlatform_filter').css('display', 'none');
    });


    function EditConfig(application, configId, key, value, decryptedValue, event) {

        $("#Key").val(key);
        $("#Value").val(decryptedValue);
        $("#ConfigId").val(configId);
        $("#Application_Id").val(application);
        $("#AddEditOutBound").html('Update');

    }

    function DeleteConfig(application, configId, key, value, decryptedValue, event) {

        var model = {
            Application_Id: application,
            key: key,
            value: value,
            configId: configId
        }

        if (confirm("Are you sure want to delete?")) {

            $.ajax({
                type: "POST",
                url: "/UserAndRoleMgmt/DeleteOutBoundIntegrationCredentials",
                data: model,
                success: function (response) {
                    if (response.status != undefined) {
                        if (response.status.toLocaleLowerCase() == "success") {
                            $("#divSuccessError").addClass("alert alert-success");
                            resetFormAfterAddOrDelete();
                            $("#btnSearchOutBoundIntegration").trigger("click");
                        }
                        else {
                            response.status.toLocaleLowerCase() == "failure" ? $("#divSuccessError").addClass("alert alert-info") : $("#divSuccessError").addClass("alert alert-danger");
                        }
                        $("#divSuccessError").show();
                        $("#lblmsg").text(response.errorMessage);
                        $("#stMsg").text(response.status + "! ");
                    }

                    $(".ajaxloader").hide();
                    setTimeout(() => {
                        $("#divSuccessError").hide();
                    }, 5000);
                },
                failure: function (response) {
                    $(".ajaxloader").hide();
                    $("#divSuccessError").addClass("alert alert-danger");
                    $("#lblmsg").text("something went wrong!");
                    $("#stMsg").text("Error! ");
                },
                error: function (response) {
                    $(".ajaxloader").hide();
                    $("#divSuccessError").addClass("alert alert-danger");
                    $("#lblmsg").text("something went wrong!");
                    $("#stMsg").text("Error! ");
                }
            });
        }
    }

    function closePlatformURL() {
        $('#tblOutBoundIntegrationPlatform').find($("#trPlatformURL")).remove();
    }
</script>