@model Voyager.App.ViewModels.IntegartionCredentailsViewModel
<style>
    .row1 {
        margin-bottom: 15px !important;
    }
</style>

<div class="popup-in">
    <div class="custom-mob-tbl table-responsive">
        <h3>Integration Credentials</h3>
        <br />
        <div class="modal-body">
            <br />
            <div class="tab-content">
                <div class="tab-pane active">
                    <div style="display:none;text-align:left;" id="divSuccessError">
                        <a class="close" title="close">×</a>
                        <strong id="stMsg"></strong> <label id="lblmsg"></label>
                    </div>
                    <form id="frmIntegrationCredentials">
                        <div class="form-section">
                            <div class="form-group-sec">
                                <div class="row">
                                    <div class="col-xs-4 mobile-12">
                                        <label class="frm-sub-label">Selected Platform </label>
                                        @Html.DropDownListFor(m => m.Application_Id, new SelectList(Model.ApplicationList, "Attribute_Id", "AttributeName"), "Select", new { @class = "form-control filter" })
                                        @Html.ValidationMessageFor(m => m.Application_Id, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-4 mobile-12">
                                        <label class="frm-sub-label">Selected User </label>
                                        @Html.DropDownListFor(m => m.ContactPersonID, new SelectList(Model.ContactPersonList, "Contact_Id", "FIRSTNAME"), "Select", new { @class = "form-control filter" })
                                        @Html.ValidationMessageFor(m => m.ContactPersonID, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-xs-4 mobile-12" style="text-align: left;">
                                        <button type="button" class="btn btn-success btn-sm" onclick="SearchIntegration();">Search</button>&nbsp;&nbsp;
                                        <button type="button" class="btn btn-success btn-sm" onclick="GenerateIntegration();">Generate Key</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    @using (Html.BeginForm("ExportToExcel", "UserAndRoleMgmt", FormMethod.Post, new { @class = "", role = "form", id = "frmExportToExcel" }))
                    {
                    <input type="hidden" id="Exp_Application_Id" name="Application_Id" />
                    <input type="hidden" id="Exp_ContactPersonID" name="ContactPersonID" />
                    <div class="popup-in displayIntegrationCredentialsList">
                    </div>
                    }
                    <div class="modal-footer">
                        <button title="Close (Esc)" type="button" class="btn btn-secondary close-popup">Close</button>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script>

    function SearchIntegration() {
        $(".ajaxloader").show();
        validateForm1(false);
        var model = $("#frmIntegrationCredentials").serialize();
        model += '&isSearch=' + true;

        $.ajax({
            type: "POST",
            url: "/UserAndRoleMgmt/ViewIntegrationCredentialsList",
            data: model,
            success: function (response) {
                $(".ajaxloader").hide();
                $(".displayIntegrationCredentialsList").html(response.replace("action-popup ", ""));
            },
            error: function (response) {
                $(".ajaxloader").hide();
                $("#divSuccessError").addClass("alert alert-danger");
                $("#lblmsg").text("something went wrong!");
                $("#stMsg").text("Error! ");
            }
        });
    }

    function GenerateIntegration() {
        $(".ajaxloader").show();

        if (validateForm1(true)) {

            var model = $("#frmIntegrationCredentials").serialize();

            $.ajax({
                type: "POST",
                url: "/UserAndRoleMgmt/SaveIntegrationCredentials",
                data: model,
                success: function (response) {
                    if (response.status != undefined) {
                        response.status.toLocaleLowerCase() == "failure" ? $("#divSuccessError").addClass("alert alert-info") : $("#divSuccessError").addClass("alert alert-danger");
                        $("#divSuccessError").show();
                        $("#lblmsg").text(response.responseText);
                        $("#stMsg").text(response.status + "! ");
                    }
                    else {
                        $(".displayIntegrationCredentialsList").html(response.replace("action-popup ", ""));
                        $("#divSuccessError").show();
                        $("#divSuccessError").addClass("alert alert-success");
                        $("#lblmsg").text("Integration Credentials created successfully.");
                        $("#stMsg").text("Success! ");
                        /*setTimeout(() => {
                            $("#divSuccessError").hide();
                        }, 3000);*/

                    }
                    $(".ajaxloader").hide();

                },
                failure: function (response) {
                    alert(response.responseText);
                    $(".ajaxloader").hide();
                },
                error: function (response) {
                    alert(response.responseText);
                    $(".ajaxloader").hide();
                }
            });
        }

    }

    function validateForm1(value) {
        var flag = true;
        var Application_Id = $("#Application_Id :selected").text();

        if (value && (Application_Id == "" || Application_Id == "Select")) {
            $("#Application_Id").siblings("span").text("The Platform field is required.");
            flag = false;
        }
        else
            $("#Application_Id").siblings("span").text("");

        var ContactPersonID = $("#ContactPersonID :selected").text();

        if (value && (ContactPersonID == "" || ContactPersonID == "Select")) {
            $("#ContactPersonID").siblings("span").text("The User field is required.");
            flag = false;
        }
        else
            $("#ContactPersonID").siblings("span").text("");

        if (!flag && value) {
            $(".ajaxloader").hide();
            return false;
        }

        return true;
    }

    function DeleteIntegrationCredentials(VoyagerUser_Id, Application_Id) {
        if (confirm("Are you sure want to delete?")) {
            $(".ajaxloader").show();

            var model = {
                ContactPersonID: VoyagerUser_Id,
                Application_Id: Application_Id
            }

            $.ajax({
                type: "POST",
                url: "/UserAndRoleMgmt/DeleteIntegrationCredentials",
                data: model,
                success: function (response) {
                    if (response.status != undefined) {
                        //response.status.toLocaleLowerCase() == "failure" ? $("#divSuccessError").addClass("alert alert-info") : $("#divSuccessError").addClass("alert alert-danger");

                        $("#divSuccessError").show();
                        $("#divSuccessError").addClass("alert alert-danger")
                        $("#lblmsg").text(response.ResponseStatus.ErrorMessage);
                        $("#stMsg").text(response.ResponseStatus.status + "! ");
                    }
                    else {
                        $(".displayIntegrationCredentialsList").html(response.replace("action-popup ", ""));
                        $("#divSuccessError").show();
                        $("#divSuccessError").addClass("alert alert-info");
                        $("#lblmsg").text("Integration Credentials deleted successfully.");
                        $("#stMsg").text("Success! ");

                    }
                    $(".ajaxloader").hide();
                },
                failure: function (response) {
                    alert(response.responseText);
                    $(".ajaxloader").hide();
                },
                error: function (response) {
                    alert(response.responseText);
                    $(".ajaxloader").hide();
                }
            });
        }

    }

    function ExpToExcel() {
        $("#Exp_Application_Id").val($("#Application_Id").val());
        $("#Exp_ContactPersonID").val($("#ContactPersonID").val());

        $('#frmExportToExcel').submit();

    }

    $(document).on('click', '.close', function (e) {
        var curdiv = $(this).parents("#divSuccessError");
        curdiv.hide();
        curdiv.removeAttr("class");
        curdiv.find("#lblmsg").text("");
        curdiv.find("#stMsg").text("");
    });
</script>
