@model Voyager.App.ViewModels.ProposalDocumentViewModel
<div class="main-content">
    <table width="950" border="0" align="center" cellpadding="0" cellspacing="0" class="tbl-center">
        @*@Html.Partial("~/Views/ProposalDocument/_ProposalDocumentHeader.cshtml", Model.COHeaderViewModel)*@
        <tr>
            <td align="center" valign="top" height="500">
                <table width="773" border="0" align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td>
                            <div class="report-fixed-width">
                                @Html.Raw(@Model.Proposal.CoveringNote)
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
@*        @Html.Partial("~/Views/ProposalDocument/_ProposalDocumentFooter.cshtml", Model.COHeaderViewModel)*@
    </table>
</div>
