<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

    <p style="margin:13px 0px;"><strong>ACCOMMODATION TAX:</strong></p>

    <p style="margin-bottom:5px;">Kindly note accommodation tax have been levied by local governments in the below respective cities. These taxes cannot be collect at our end and  hence TL has to pay the hotel directly at the time of check out.</p>

    <p style="margin-bottom:5px;"><strong>Florence / Padova / Rome / Venice / Barcelona/ Lisbon/ Paris </strong></p>

    <p style="margin-bottom:5px;">Local Municipality will apply an accommodation tax to all their guests staying, FIT or groups.</p>
    <p style="margin-bottom:5px;">
        The payment of the tax is mandatory and to be paid directly by the clients at the time of check out. 01 TL per group is exempted from the accommodation tax.
    </p>
    <!--<div class="new-page"></div>-->
    <table class="table" style="margin-top:20px">
        <tbody>
            <tr>
                <td><strong>City</strong></td>
                <td><strong>Details</strong></td>
            </tr>

            <tr>
                <td>VENEZIA (Venice)</td>
                <td>
                    <ul>
                        <li>4 euros p/p pn for 4*HTL or less category</li>
                        <li>5 euros p/p pn for 5*HTL </li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>Mestre (Venice)</td>
                <td>
                    <ul>
                        <li>2,40  euros p/p pn for 4* HTL high season</li>
                        <li>b)1,20 euros p/p pn for 4* HTL low season</li>
                    </ul>
                </td>
            </tr>



            <tr>
                <td>FIRENZE / FLORENCE </td>
                <td>
                    <ul>
                        <li>2 euros p/p pn for 2*HTL</li>
                        <li>3 euros p/p pn for 3 * HTL</li>
                        <li>4 euros p/p  pn for 4*HTL</li>
                        <li>5 euros p/p pn for4*/ 5*HTL</li>
                    </ul>
                </td>
            </tr>

            <tr>
                <td>ROMA / ROME</td>
                <td>
                    <ul>
                        <li>3 euros p/p pn for 4*/ 5* HTL</li>
                        <li>2 euros p/p pn for 1*/2*/3*</li>
                    </ul>
                </td>
            </tr>


            <tr>
                <td>Milan</td>
                <td>
                    <ul>
                        <li>2 euros p/p pn for 1*HTL</li>
                        <li>3 euros p/p pn for 2 * HTL</li>
                        <li>4 euros p/p  pn for 3*HTL</li>
                        <li>5 euros p/p pn for4*/ 5*HTL</li>
                    </ul>
                </td>
            </tr>



            <tr>
                <td>Lisbon</td>
                <td>
                    <ul>
                        <li>1 euros p/p pn for 3*/4*/ 5*HTL</li>

                    </ul>
                </td>
            </tr>


            <tr>
                <td>Barcelona</td>
                <td>
                    <ul>
                        <li> 2.5 euros p/p  pn for 3*/4*/ 5*HTL</li>

                    </ul>
                </td>
            </tr>


            <tr>
                <td>Paris</td>
                <td>
                    <ul>
                        <li>4 euros pp for  5* Palace HTL</li>
                        <li>3 euros pp for 5* & appart'hotels</li>
                        <li>2.5 euros pp for 3* & 4 * HTL</li>
                    </ul>
                </td>
            </tr>


            <tr>
                <td>Amsterdam</td>
                <td>
                    <ul>
                        <li>5% of city tax on accommodation; City tax for some of the hotels is already included in rate, however some of the hotels have city tax on top of the rate. So it can be informed after blocking of any Particular hotel only.</li>

                    </ul>
                </td>
            </tr>


        </tbody>


    </table>

    <p><b>EUC Driving Regulation / Law for Drivers</b></p>
    <p>Please note that for Long Distance Coaches (LDC) the European Driving regulations apply as below. </p>

    <ul>
        <li>Working Hours: Maximum 12 Hours/day</li>
        <li>Driving Hours: maximum 9 hours/day.( Every 4 hours and half must rest min 45 	min).</li>
        <li>Everyday sleeping period: Mínimum 11 hours before start another day</li>


        <p>Also note that in extreme conditions i.e. summer heat, a full motor coach while having working air conditioning, might still be warmer than at some passengers comfort level.</p>

    </ul>

</body>
</html>